<!DOCTYPE html>
<html>

<head>
    <title>简易编译器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<style>
    .c_box {
        width: 400px;
        height: 400px;
        overflow-y: scroll;
    }

    .input_box {
        width: 100%;
        height: 80%;
    }

    .box_inline {
        width: 25%;
        display: inline-block;
        margin: 20px;
    }
</style>

<body>
<div id="app" style="text-align: center">
    <div align="center">
        <h1 id="title" style="font-size: 30px;color: cornflowerblue;margin-top: 20px">
            简易编译器
        </h1>


        <div>
            <div id="set" class="c_box">
                <span style="color: cornflowerblue;">请输入源程序:</span>
                <textarea v-model="program" placeholder="源程序" class="input_box"></textarea>
                <button v-on:click="submit" type="button" class="btn btn-outline-primary" style="">提交</button>
            </div>
        </div>


        <div>
            <span style="color: cornflowerblue;">结果表:</span>
            <table align="center">
                <tr v-for="arow in word_table">
                    <td v-for="adata in arow" style="width: 150px;height: 50px;border: 2px solid cornflowerblue;">
                    {{ adata }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            program: 'int i;\n' +
            'int sum;\n' +
            'i=i+3;\n' +
            'sum=i+i;\n' +
            'int t;\n' +
            't=sum+i;',

            host: '/api/compiler',
            word_table: [],
        },
        methods: {
            submit: function () {
                var xhr = new XMLHttpRequest()
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var json = eval('(' + xhr.response + ')');
                            this.word_table = json.words;
                        } else {

                        }
                    }
                };
                xhr.open('POST', this.host, true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send('program=' + encodeURIComponent(this.program));
            }
        }
    });

</script>
</body>

</html>